.admin-container {
    width: auto;
    height: 780px;
    margin: 10px;
    border: 1px solid #555;
    background: #eee;
    border-radius: 5px;
  }
  
  .admin-left{
    width: 20%;
    height: 100%;
    float: left;
    background: #ddd;
  }