.sidebar-menu {
  padding: 20px;
  background-color: #f4f4f4;
  height: 100%;
}

.menu-link {
  text-decoration: none; // Remove underline
  color: #333; // Default text color
  font-weight: 500; // Slightly bold text
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #007bff; // Highlight color on hover
    color: #fff; // White text on hover
  }
}