<mat-list role="list" class="sidebar-menu">
  <mat-list-item role="listitem">
    <a routerLink="/admin" class="menu-link">Dashboard</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="customers" class="menu-link">Customers</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="products" class="menu-link">Products</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="orders" class="menu-link">Orders</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a routerLink="" class="menu-link">Ana Sayfa</a>
  </mat-list-item>
</mat-list>